html,
body {
  margin: 0;
  padding: 0;
}

#chat {
  height: 300px;
  background-color: #000000;
  color:#ffffff;
  padding: 10px;
  overflow: hidden;
  overflow-y: visible;
}

.message {
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px 0;
}

textarea {
  width: 470px;
  height: 100px;
  padding: 15px;
  border: 0;
  background-color: #d5d5d5;
  float: left;
}

button {
  width: 500px;
  height: 50px;
  padding: 15px;
  border: 0;
  background-color: #ee5500;
  color: #ffffff;
  float: left;
}
